:root {
    --color-fg: rgb(250, 250, 250);
    --color-glow: rgb(250, 176, 27);
    --color-flash: rgb(250, 60, 10);
}

body {
    color: var(--color-fg);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(150deg, rgba(255,255,255,0), rgb(66,27,158)),
                linear-gradient(70deg, rgb(238, 44, 235), rgb(59, 200, 240));
    overflow: hidden;
}

#container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#clock {
    display: flex;
}

#left-numbers, #right-numbers {
    width: 50vw;
    display: flex;
}

#left-numbers {
    justify-content: right;
}

#right-numbers {
    justify-content: left;
}

// .separator { }

.digit, .separator {
    font-size: 20vw;
    text-align: center;
    text-shadow: 0 0 0.03em var(--color-glow);
}

.digit {
    width: 12vw;
    display: inline-block;
}

#bar {
    position: absolute;
    top: 110%;
    height: 0.5vw;
    width: 90%;
    left: 5%;
}

#inner-bar {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(250, 250, 250);
    border-radius: 0.1vw;
    box-shadow: 0 0 0.6vh var(--color-glow);
}

.flash .digit {
    animation: text-flash 1s infinite;
}

@keyframes text-flash {
    10%, 30%, 50% {
        text-shadow: 0 0 0.06em var(--color-flash);
    }
    0%, 20%, 40%, 60% {
        text-shadow: 0 0 0.03em var(--color-glow);
    }
}